<md-input-container class="md-block">
	<label mb-translate>Password</label>
	<input
		type="password"
		md-minlength="5" 
		required 
		name="password" 
		ng-model="ctrl.password"
		ng-model-options="{getterSetter: true, debounce: 200}">
</md-input-container>

<md-input-container class="md-block">
	<label mb-translate>Confirm</label>
	<input
		type="password"
		required
		name="confirm_password" 
		ng-model="ctrl.confirm_password"
		ng-model-options="{getterSetter: true, debounce: 200}">
</md-input-container>
