<md-menu
	class="amd-account-toolbar">
	<div 
		class="anchor"
		ng-click="$mdOpenMenu()" 
		aria-label="Open menu">
		<img 
			width="24px"
			height="24px"
			ng-src="/api/v2/user/accounts/{{authentication.details.id}}/avatar"
			ng-src-error="https://www.gravatar.com/avatar/{{authentication.details.id|wbmd5}}?d=identicon&size=32">
		<span>{{::authentication.details.profiles[0].first_name}} {{::authentication.details.profiles[0].last_name}}</span>
	</div>
	<md-menu-content>
		<md-menu-item>
			<md-button
				ng-click="ctrl.openProfile($event)">
				<mb-icon style="min-width: 24px;"></mb-icon>
				<span mb-translate>Profile</span>
			</md-button>
		</md-menu-item>
		<md-menu-divider></md-menu-divider>
		<md-menu-item>
			<md-button 
				ng-click="ctrl.logout($event)">
				<mb-icon>exit_to_app</mb-icon>
				<span mb-translate>Logout</span>
			</md-button>
		</md-menu-item>
	</md-menu-content>
</md-menu>
