<div
	layout="column">
	<!-- Action bar -->
	<div 
		layout="row"
		ng-show="!ctrl.edit">
		<span flex></span>
		<md-button 
			class = "md-raised md-primary"
			ng-disabled="!ctrl.isDerty()"
			ng-click="ctrl.updateContent($event)">
			<span mb-translate>Save</span>
		</md-button>
		<md-button 
			ng-href="/api/v2/cms/contents/{{ctrl.content.id}}/content"
			download="{{ctrl.content.file_name || ctrl.content.name}}"
			target="_blank"
			class = "md-raised md-primary">
			<span mb-translate>Download</span>
		</md-button>
		<md-button 
			class = "md-raised md-accent"
			ng-click="ctrl.deleteContent($event)">
			<span mb-translate>Delete</span>
		</md-button>
	</div>
	<md-content flex>
		<mb-titled-block 
			mb-title="Information"
			mb-more-actions="contentMoreActions"
			mb-progress="ctrl.isBusy || ctrl.isContentBusy"
			layout="column"
			ng-init="contentMoreActions = [{
				title:'Upload', 
				icon:'upload',
				expression: 'ctrl.uploadFile()'
			}]">
			<div
				layout-gt-sm="row"
				layout="column">
				<amd-content-preview
					ng-model="ctrl.model"
					md-margin
					flex-gt-sm="100"
					flex="33">
				</amd-content-preview>
				<div
					layout="column"
					md-margin
					style="min-width: 70%">
					<md-input-container 
						class="md-block">
						<label mb-translate>Name</label>
						<input 
							ng-model="ctrl.model.name"
							ng-change="ctrl.setDerty(true)"
							aria-label="Name">
					</md-input-container>
					<md-input-container 
						class="md-block">
						<label mb-translate>Title</label>
						<input 
							ng-model="ctrl.model.title"
							ng-change="ctrl.setDerty(true)"
							aria-label="Title">
					</md-input-container>
					<md-input-container 
						class="md-block">
						<label mb-translate>Description</label>
						<textarea 
							ng-model="ctrl.model.description"
							ng-change="ctrl.setDerty(true)"
							aria-label="description"></textarea>
					</md-input-container>
					<md-input-container 
						class="md-block">
						<label mb-translate>File Name</label>
						<input 
							ng-model="ctrl.model.file_name"
							ng-change="ctrl.setDerty(true)"
							aria-label="File Name">
					</md-input-container>
					<md-input-container 
						class="md-block">
						<label mb-translate>File Size</label>
						<input 
							disabled
							ng-model="ctrl.model.file_size"
							aria-label="File Size">
					</md-input-container>
					<md-input-container 
						class="md-block">
						<label mb-translate>Media Type</label>
						<input 
							ng-model="ctrl.model.media_type"
							ng-change="ctrl.setDerty(true)"
							aria-label="Media Type">
					</md-input-container>
					<md-input-container 
						class="md-block">
						<label mb-translate>Mimetype</label>
						<input 
							ng-model="ctrl.model.mime_type"
							ng-change="ctrl.setDerty(true)"
							aria-label="Media Type">
					</md-input-container>
					
					<md-input-container 
						class="md-block">
						<label mb-translate>Downloads Count</label>
						<input 
							disabled
							ng-model="ctrl.model.downloads"
							aria-label="Downloads Count">
					</md-input-container>
					<md-input-container 
						class="md-block">
						<label mb-translate>Creation Date</label>
						<input 
							disabled
							ng-model="ctrl.model.creation_dtime"
							aria-label="Creation Date">
					</md-input-container>
					<md-input-container 
						class="md-block">
						<label mb-translate>Last Modification Date</label>
						<input 
							disabled
							ng-model="ctrl.model.modif_dtime"
							aria-label="Last Modification Date">
					</md-input-container>
				</div>
			</div>
		</mb-titled-block>
	
	
		<!-- 
		  --  Term taxonomy
		  -- This section manages term taxonomies of a content and let you
		  -- add, remove or update the list.
		  -->
		<mb-titled-block
			mb-title="Term Taxonomies"
			mb-more-actions="termtaxonomyActions"
			mb-progress="ctrl.isBusy || ctrl.isTermtaxonomiesBusy"
			layout="column"
			ng-init="termtaxonomyActions = [{
				title:'Add new term-taxonomy', 
				icon:'add',
				expression: 'ctrl.addTermTaxonomy($event)'
			}]">
			<table class="mb-table mb-shop-table">
				<thead>
					<tr mb-colors="{color: 'primary-700'}">
						<td style="width: auto" mb-translate>Title</td>
						<td style="width: 10%" mb-translate>Type</td>
						<td mb-translate style="width: 100px;text-align: center;"></td>
					</tr>
				</thead>
				<tbody>
					<tr
						ng-repeat="$chip in ctrl.model.termTaxonomies" >
						<td>{{::$chip.term.name}}</td>
						<td>{{::$chip.taxonomy}}</td>
						<td>
							<div layout="row">
								<md-button 
									class="md-icon-button md-accent"
									ng-click="ctrl.removeTermTaxonomy($chip)"
									aria-label="Remove Variable">
									<mb-icon>delete</mb-icon>
								</md-button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</mb-titled-block>
		
			<!-- 
			  --  Metadata
			  -- In this section you can edit and manage all metadata of a
			  -- content.
			  -->
			<mb-titled-block
				mb-title="{{'Extra Attributes' | translate}}"
				layout="column"
				mb-more-actions="metadataActions"
				ng-init="metadataActions = [{
					title: 'Add new metadatum',
					icon: 'add',
					expression: 'ctrl.addMeta($event)'
				}]">
				<table class="mb-table mb-shop-table">
					<thead>
						<tr mb-colors="{color: 'primary-700'}">
							<td style="width: 20%" mb-translate="">Key</td>
							<td style="width: auto" mb-translate="">Value</td>
							<td mb-translate style="width: 100px;text-align: center;"></td>
						</tr>
					</thead>
					<tbody>
						<tr 
							ng-repeat="meta in ctrl.model.metas"
							ng-show="meta.key !== 'variant'">
							<td>
								<md-input-container 
									class="md-block">
									<input 
										ng-model="meta.key"
										ng-change="ctrl.setMetaDerty(meta)"
										aria-label="Meta key">
								</md-input-container>
							</td>
							<td>
								<md-input-container 
									class="md-block">
									<input 
										ng-model="meta.value"
										ng-change="ctrl.setMetaDerty(meta)"
										aria-label="Meta Value">
								</md-input-container>
							</td>
							<td style="text-align: center;">
								<div layout="row">
									<md-button 
										class="md-icon-button md-accent"
										ng-click="ctrl.setMetaValueByResource(meta, null, $event)"
										aria-label="Set data to meta value">
										<mb-icon>auto_fix_high</mb-icon>
									</md-button>
									<md-button 
										class="md-icon-button md-accent"
										ng-click="ctrl.removeMeta(meta)"
										aria-label="Remove Variable">
										<mb-icon>delete</mb-icon>
									</md-button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div layout="row">
					<span flex></span>
					<md-button
						layout-align="end center"
						class="md-icon-button md-raised md-primary"
						ng-click="ctrl.addMeta()"
						aria-label="add meta data">
						<mb-icon>add</mb-icon>
					</md-button>
				</div>
			</mb-titled-block>
		</md-content>
	</md-content>
</div>

