<md-list-item 
    class="md-3-line"
    ng-href="{{}}"> 

    <mb-icon ng-if="item.active">done</mb-icon> 
    <mb-icon ng-if="!item.active">cancel</mb-icon>
    <div 
        class="md-list-item-text" 
        layout="column">
        <h4>{{fileName}}</h4>
        <h4 ng-if="!(user.first_name && user.last_name)" mb-translate>Provider: unknown </h4>
        <h4 ng-if="user.first_name && user.last_name" mb-translate>Provider: {{user.first_name + ' ' + user.last_name}} </h4>
        <p><span mb-translate>Creation date</span>: {{item.creation_dtime| mbDate}} - 
            <span mb-translate>Expiry date</span>: {{item.expiry| mbDate}}</p>
    </div>

    <md-button class="md-icon-button">
        <mb-icon ng-if="item.active">delete</mb-icon>
    </md-button>
</md-list-item>