<md-content style="overflow: auto;">
	<form 
		name="contentForm"
		ng-action="ctrl.add(ctrl.config)"
		mb-preloading="ctrl.savingContent"
		layout-margin
		layout="column"
		flex>
		<md-input-container
			class="md-icon-float md-icon-right md-block">
			<label mb-translate>Name</label>
			<input 
				name="name" 
				ng-model="ctrl.config.model.name" 
				required></input>
			<div ng-messages="contentForm.name.$error">
				<div ng-message="required">This is required!</div>
			</div>
			<mb-icon ng-click="ctrl.generateRandomName()">autorenew</mb-icon>
		</md-input-container>
		
		<md-input-container>
			<label mb-translate>Title</label>
			<textarea ng-model="ctrl.config.model.title"></textarea>
		</md-input-container>

		<md-input-container>
			<label mb-translate>Description</label>
			<textarea ng-model="ctrl.config.model.description"></textarea>
		</md-input-container>

		<md-input-container>
			<mb-file-input
				name="files"
				ng-model="ctrl.config.files"
				mb-progress
				mb-preview
				mb-drag
				mb-required>
			</mb-file-input>
			<div ng-messages="contentForm.files.$error">
				<div ng-message="required">This is required!</div>
			</div>
		</md-input-container>
		
		<div layout="row">
			<span flex></span>
			<md-button
				class="md-raised" 
				ng-click="ctrl.add(ctrl.config)">
				<mb-icon aria-label="close">done</mb-icon>
				<span mb-translate>Add</span>
			</md-button>
			<md-button 
				class="md-raised" 
				ng-click="ctrl.cancel()">
				<mb-icon aria-label="close">close</mb-icon>
				<span mb-translate>Cancel</span>
			</md-button>
		</div>
	</form>
</md-content>

