<md-content
	ng-init="ctrl.setDataQuery('{id, taxonomy, term{id, name}}')"
	mb-preloading="ctrl.loading"
	mb-infinate-scroll="ctrl.loadNextPage()"
	layout="column"
	style="max-width: 100%; overflow: auto;"
	flex>
	<!-- Contents info -->
	<md-list flex>
		<md-list-item 
			ng-repeat="content in ctrl.items track by content.id"
			ng-href="cms/term-taxonomies/{{::content.id}}"
			class="">
			<p>{{::content.term.name}} ({{::content.taxonomy}})</p>
			<mb-icon 
				class="md-secondary" 
				ng-click="ctrl.deleteTermTaxonomy(content, $event)" 
				aria-label="Delete">delete</mb-icon>
		</md-list-item>
	</md-list>
</md-content>
