<md-input-container class="md-block md-icon-float">
	<label mb-translate>Name</label>
	<input 
		aria-label="Name"
		name="name"
		ng-model="ctrl.name"
		ng-model-options="{getterSetter: true, debounce: 200}">
</md-input-container>
<md-input-container class="md-block md-icon-float">
	<label mb-translate>Description</label>
	<input 
		aria-label="Tenant Description"
		name="description"
		ng-model="ctrl.description"
		ng-model-options="{getterSetter: true, debounce: 200}">
</md-input-container>

