<md-content>
	<mb-titled-block 
		mb-title="{{'Product' | translate}}"
		layout="column"
		layout-align="start stretch">
		<div 
			layout="row" 
			layout-xs="column" 
			layout-align-xs="center center" 
			layout-padding>
			<mb-inline
				ng-model="ctrl.model.avatar"
				mb-inline-enable="{{true}}"
				mb-inline-type="image"
				mb-inline-on-save="ctrl.setDerty(true)">
				<img width="256px" height="256px" ng-src="{{ctrl.model.avatar}}" />
			</mb-inline>
			<div
				layout="column"
				flex="auto">
				<md-input-container 
					class="md-block">
					<label mb-translate>Title</label>
					<input 
						ng-model="ctrl.model.title"
						ng-change="ctrl.setDerty(true)"
						aria-label="Title">
				</md-input-container>
				<md-input-container 
					class="md-block">
					<label mb-translate>Description</label>
					<textarea 
						ng-model="ctrl.model.description"
						ng-change="ctrl.setDerty(true)"
						aria-label="description"></textarea>
				</md-input-container>
				
				<md-input-container 
					class="md-block">
					<label mb-translate>Price</label>
					<input 
						ng-model="ctrl.model.price"
						ng-change="ctrl.setDerty(true)"
						type="number"
						aria-label="Price">
				</md-input-container>
				<md-input-container 
					class="md-block">
					<label mb-translate>Off</label>
					<input 
						ng-model="ctrl.model.off"
						ng-change="ctrl.setDerty(true)"
						type="number"
						aria-label="Off">
				</md-input-container>
				<md-input-container 
					class="md-block">
					<label mb-translate>Manufacturer</label>
					<input 
						ng-model="ctrl.model.manufacturer"
						ng-change="ctrl.setDerty(true)"
						type="text"
						aria-label="Manufacturer">
				</md-input-container>
				<md-input-container 
					class="md-block">
					<label mb-translate>Brand</label>
					<input 
						ng-model="ctrl.model.brand"
						ng-change="ctrl.setDerty(true)"
						type="text"
						aria-label="Brand">
				</md-input-container>
				<md-input-container 
					class="md-block">
					<label mb-translate>Model</label>
					<input 
						ng-model="ctrl.model.model"
						ng-change="ctrl.setDerty(true)"
						type="text"
						aria-label="Model">
				</md-input-container>
			</div>
		</div>
		
		<!-- TODO: categoris -->
		<div>
			<label id="toLabel" mb-translate>Categories</label>
			<md-chips 
				ng-model="ctrl.categories" 
				ng-change="ctrl.setDerty(true)"
				md-autocomplete-snap
				input-aria-label="Categories">
				<md-autocomplete 
					input-aria-describedby="autocompleteTitle" 
					placeholder="Search for a category"
					md-no-cache="true"
					md-autoselect="true"
					md-selected-item="ctrl.selectedCategories" 
					md-search-text="ctrl.searchCategoiresText"
					md-items="item in ctrl.searchCategoires(ctrl.searchCategoiresText)" 
					md-item-text="item.name"
					md-clear-button="true">
					<md-item-template>
						<span md-highlight-text="ctrl.searchText">{{item.name}}({{::item.name}})</span>
					</md-item-template>
					<md-not-found>
						<md-button
							style="width: 100%"
							ng-click="ctrl.createCategory(ctrl.searchCategoiresText, $event)">
							<span mb-translate>Create a New Category</span> (<em>{{ctrl.searchCategoiresText}}</em>)
						</md-button>
					</md-not-found>
				</md-autocomplete>
				<md-chip-template>
					<span
						ng-click="ctrl.execOn($chip, AMD_SHOP_CATEGORY_SHOW_ACTION, $event)">
						<mb-icon size="12">launch</mb-icon>
						<strong>{{$chip.name}}</strong>
					</span>
				</md-chip-template>
			</md-chips>
		</div>
		
		<!-- Action bar -->
		<div layout="row">
			<span flex></span>
			<md-button 
				class="md-raised md-primary"
				ng-disabled="!ctrl.isDerty()"
				ng-click="ctrl.updateProduct($event)">
				<span mb-translate>Save</span>
			</md-button>
			<md-button 
				class = "md-raised md-accent"
				ng-click="ctrl.deleteModel($event)">
				<span mb-translate>Delete</span>
			</md-button>
		</div>
	</mb-titled-block>

	<!-- Metafields -->
	<mb-titled-block
		mb-title="{{'Extra Attributes' | translate}}"
		mb-more-actions="ctrl.metafieldsMoreActions"
		layout="column">
		<table class="mb-table mb-shop-table">
			<thead>
				<tr mb-colors="{color: 'primary-700'}">
					<td style="width: 20%" mb-translate="">Field key</td>
					<td style="width: 20%" mb-translate="">Field value</td>
					<td style="width: 20%" mb-translate="">Unit</td>
					<td style="width: 20%" mb-translate="">Namespace</td>
					<td mb-translate style="width: 10%;text-align: center;"></td>
				</tr>
			</thead>
			<tbody>
				<tr 
					ng-repeat="meta in ctrl.metafields"
					ng-show="meta.key !== 'variant'">
					<td>
						<md-input-container 
							class="md-block">
							<input 
								ng-model="meta.key"
								ng-change="ctrl.setMetaDerty(meta)"
								placeholder="Key"
								aria-label="Meta key">
						</md-input-container>
					</td>
					<td>
						<md-input-container 
							class="md-block">
							<input 
								ng-model="meta.value"
								ng-change="ctrl.setMetaDerty(meta)"
								placeholder="Value"
								aria-label="Meta Value">
						</md-input-container>
					</td>
					<td>
						<md-input-container 
							class="md-block">
							<input 
								ng-model="meta.unit"
								ng-change="ctrl.setMetaDerty(meta)"
								placeholder="Unit"
								aria-label="Meta Unit">
						</md-input-container>
					</td>
					<td>
						<md-input-container 
							class="md-block">
							<input 
								ng-model="meta.namespace"
								ng-change="ctrl.setMetaDerty(meta, $event)"
								placeholder="Namespace"
								aria-label="Meta Namespace">
						</md-input-container>
					</td>
					<td style="text-align: center;">
						<div layout="row">
							<md-button 
								ng-if="meta.key === 'image'"
								class="md-icon-button md-accent"
								ng-click="ctrl.setMetaValueByResource(meta, 'image-url', $event)"
								aria-label="Set image to meta value">
								<mb-icon>insert_photo</mb-icon>
							</md-button>
							<md-button 
								ng-if="meta.key === 'color'"
								class="md-icon-button md-accent"
								ng-click="ctrl.setMetaValueByResource(meta, 'color', $event)"
								aria-label="Set image to meta value">
								<mb-icon>palette</mb-icon>
							</md-button>
							<md-button 
								class="md-icon-button md-accent"
								ng-click="ctrl.removeMetafield(meta)"
								aria-label="Remove Variable">
								<mb-icon>delete</mb-icon>
							</md-button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div layout="row">
			<span flex></span>
			<md-button
				layout-align="end center"
				class="md-icon-button md-raised md-primary"
				ng-click="ctrl.addMetafield()"
				aria-label="add meta data">
				<mb-icon>add</mb-icon>
			</md-button>
		</div>
	</mb-titled-block>
	
	
	
	
	
	
	<!-- Variants -->
	<mb-titled-block
		mb-title="{{'Variants' | translate}}"
		layout="column">
		
		<table class="mb-table mb-shop-table">
			<thead>
				<tr mb-colors="{color: 'primary-700'}">
					<td 
						ng-show="meta.key !== 'variant'"
						ng-repeat="meta in ctrl.metafields | orderBy:'meta.key' track by meta.id"
						style="width: 20%" 
						mb-translate="">{{meta.key}}</td>
					<td mb-translate style="width: 10%;text-align: center;"></td>
				</tr>
			</thead>
			<tbody>
				<tr 
					ng-repeat="item in ctrl.variant track by $index">
					<td
						ng-show="meta.key !== 'variant'"
						ng-repeat="meta in ctrl.metafields | orderBy:'meta.key' track by meta.id">
						<div 
							layout="row">
							<md-input-container 
								class="md-block">
								<input 
									ng-model="item[meta.key]"
									ng-change="ctrl.setDerty(true)"
									aria-label="Variant value">
							</md-input-container>
							<mb-icon 
								ng-click="ctrl.setVariantValyeByResource(item, meta, $event)"
								ng-show="meta.key === 'image' || meta.key === 'color'">more_horiz</mb-icon>
						</div>
					</td>
					<td style="text-align: center;">
						<div layout="row">
							<md-button 
								class="md-icon-button md-accent"
								ng-click="ctrl.removeVariant($index, $event)"
								aria-label="Remove Variant">
								<mb-icon>delete</mb-icon>
							</md-button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div layout="row">
			<span flex></span>
			<md-button
				layout-align="end center"
				class="md-icon-button md-raised md-primary"
				ng-click="ctrl.addVariant($event)"
				aria-label="add variant data">
				<mb-icon>add</mb-icon>
			</md-button>
		</div>
	</mb-titled-block>
</md-content>

