<md-content 
	mb-infinate-scroll="ctrl.loadNextPage()" 
	ng-cloak>
	<md-list>
		<md-list-item 
			ng-click="ctrl.execOnModel(SDP_ASSETS_DETAILS_ACTION, asset, $event)" 
			ng-repeat="asset in ctrl.items track by asset.id"
			class="noright">
			<img
				style="z-index: 1;"
				class="md-avatar"
				ng-if="asset.cover && !asset.$selected" 
				ng-click="ctrl.toggleSelection(asset, $event)"
				ng-src-error="https://www.gravatar.com/avatar/{{ ::asset.id | mbmd5 }}?d=identicon&size=32"
				ng-src="{{asset.cover}}">
			<mb-icon
				style="z-index: 1;"
				class="md-avatar-icon"
				ng-click="ctrl.toggleSelection(asset, $event)"
				ng-if="!asset.cover && !asset.$selected">folder</mb-icon>
			<mb-icon
				style="z-index: 1;"
				class="md-avatar-icon"
				ng-click="ctrl.toggleSelection(asset, $event)"
				ng-if="asset.$selected">check</mb-icon>
			<p>{{asset.title}}</p>
		</md-list-item>
	</md-list>
</md-content>