<md-content 
	mb-infinate-scroll="ctrl.loadNextPage()">
	<md-list flex>
		<md-list-item 
			ng-repeat="item in ctrl.items track by item.id"
			ng-click="ctrl.execOnModel(SDP_CATEGORIES_DETAILS_ACTION, item, $event)"
			class="">
			<mb-icon
				style="z-index: 1;"
				class="md-avatar-icon"
				ng-click="ctrl.toggleSelection(item, $event)"
				ng-if="!item.$selected">category</mb-icon>
			<mb-icon
				style="z-index: 1;"
				class="md-avatar-icon"
				ng-click="ctrl.toggleSelection(item, $event)"
				ng-if="item.$selected">check</mb-icon>
			<p>{{::item.id}} - {{item.name}}</p>
		</md-list-item>
	</md-list>
</md-content>