<md-input-container class="md-block md-icon-float">
	<label translate>Title</label>
	<input 
		aria-label="Book title"
		name="title"
		ng-model="ctrl.title"
		ng-model-options="{getterSetter: true, debounce: 200}">
</md-input-container>
<md-input-container class="md-block">
	<label translate>Abstract</label>
	<textarea 
		aria-label="Book Abstract"
		name="abstract"
		ng-model="ctrl.abstract"
		ng-model-options="{getterSetter: true, debounce: 200}"></textarea>
</md-input-container>
<md-input-container class="md-block">
	<label translate>Cover</label>
	<input 
		aria-label="Book Cover"
		name="cover"
		ng-model="ctrl.cover"
		ng-model-options="{getterSetter: true, debounce: 200}">
</md-input-container>
<md-input-container class="md-block">
	<label translate>ISBN</label>
	<input 
		aria-label="Book ISBN"
		name="isbn"
		ng-model="ctrl.isbn"
		ng-model-options="{getterSetter: true, debounce: 200}">
</md-input-container>
<md-input-container class="md-block">
	<label translate>Edition</label>
	<input 
		aria-label="Book Edition"
		name="edition"
		ng-model="ctrl.edition"
		ng-model-options="{getterSetter: true, debounce: 200}">
</md-input-container>
<md-input-container class="md-block">
	<label translate>Date Published</label>
	<input 
		aria-label="Book Date Published"
		name="date_published"
		ng-model="ctrl.date_published"
		ng-model-options="{getterSetter: true, debounce: 200}">
</md-input-container>
<md-input-container class="md-block">
	<label translate>Number of Pages</label>
	<input 
		aria-label="Book Pages"
		name="pages"
		ng-model="ctrl.pages"
		ng-model-options="{getterSetter: true, debounce: 200}">
</md-input-container>
<md-input-container class="md-block">
	<label translate>Age Range</label>
	<input 
		aria-label="Book Age Range"
		name="age_range"
		ng-model="ctrl.age_range"
		ng-model-options="{getterSetter: true, debounce: 200}">
</md-input-container>
<md-input-container class="md-block">
	<label translate>Language</label>
	<input 
		aria-label="Book Language"
		name="language"
		ng-model="ctrl.language"
		ng-model-options="{getterSetter: true, debounce: 200}">
</md-input-container>




