<md-input-container class="md-block md-icon-float">
	<label translate>Name</label>
	<input 
		aria-label="Content Name"
		name="name"
		ng-model="ctrl.name"
		ng-model-options="{getterSetter: true, debounce: 200}">
</md-input-container>
<md-input-container class="md-block">
	<label translate>Description</label>
	<textarea 
		aria-label="Content Description"
		name="description"
		ng-model="ctrl.description"
		ng-model-options="{getterSetter: true, debounce: 200}"></textarea>
</md-input-container>




