<md-content
	layout="column"
        layout-align="center center"
	layout-padding
	flex
        mb-preloading="status.invoiceLoading || status.gateLoading">
    
        <!--'amd-disable-id' define in amdTenantInvoice.js. There, this attribute binds to disableId--> 
        <amd-tenant-invoice
            amd-disable-id="true" 
            title="Invoice details"
            ng-model="invoice">
        </amd-tenant-invoice>

	<div
		layout="column"
		ng-show="status.success && invoice.status !== 'payed'">
		<p translate>Select gate to pay</p>
		<div layout="column" layout-align="center center" ng-if="false">
			<p>{{error | translate}}</p>
		</div>
	    <div layout="row" layout-align="center center" ng-if="!status.gateLoading">
                    <md-button 
                        style="text-align: center"
                        ng-repeat="gate in gates"
			class="md-raised"
		    	ng-click="pay(gate, discountCode)">
                        <md-icon md-svg-src="{{gate.symbol}}"></md-icon>
		    	{{gate.title}}
		    </md-button>
		</div>
    </div>
    <div layout="column" layout-align="center center" ng-if="!success">
            <p>{{error | translate}}</p>
    </div>
</md-content>

