<md-content
	mb-preloading="ctrl.working"
	layout="column"
	layout-padding 
	flex>
	<mb-titled-block
		layout="column">
		<div layout="row" layout-padding>
			<img 
				width="150px"
				height="150px"
				ng-src="/{{::ctrl.model.name}}/images/logo.svg" 
				ng-src-error="/{{::ctrl.model.name}}/favicon.png" 
				class="md-avatar"/>
			<div>
				<h2>{{::ctrl.model.title}}</h2>
				<p>{{::ctrl.model.description}}</p>
				<table class="md-table md-table-description">
					<tr>
						<td mb-translate>Name</td>
						<td>
							<mb-inline
								ng-model="ctrl.model.name"
								ng-change="ctrl.update()"
								mb-inline-type="text"
								mb-inline-label="Name"
								mb-inline-enable="true">{{ctrl.model.name}}</mb-inline>
						</td>
					</tr>
					<tr>
						<td mb-translate>Version</td>
						<td>{{ctrl.model.version}}</td>
					</tr>
					<tr>
						<td mb-translate>License</td>
						<td>{{::ctrl.model.license}}</td>
					</tr>
					<tr>
						<td mb-translate>Home page</td>
						<td>{{::ctrl.model.homepage}}</td>
					</tr>
					<tr ng-if="ctrl.model.last_version !== ctrl.model.version">
						<td mb-translate>New version</td>
						<td>{{ctrl.model.last_version}}</td>
					</tr>
				</table>
			</div>
		</div>
		<div
			layout="row"
			layout-wrap>
			<md-button
				class="md-raised"
				data-ng-repeat="trans in ctrl.transitions"
				data-ng-click="ctrl.putTransition(trans, $event)"
				data-ng-show="{{trans.visible}}">
				<span mb-translate>{{trans.title|| trans.id}}</span>
			</md-button>
			<span flex></span>
			<md-button
				class="md-icon-button"
				target="_blank"
				ng-href="/{{ctrl.model.name}}/">
				<mb-icon>open_in_new</span>
			</md-button>
		</div>
	</mb-titled-block>
</md-content>