.mb-collection-toolbar-float-left {
	float:left;
}

[dir=rtl].mb-collection-toolbar-float-left {
	float:right;
}

.mb-collection-toolbar-input{
	display: inline-block;
	background: none;
	
	border-bottom-style: solid;
	border-width: 1px;
	border-color:  rgb(255, 255, 255);
	
	line-height: 16px;
	margin: 4px 0px;
}

.mb-collection-toolbar-input>input{
	background: none;
	border: none;
	height: 12px;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	line-height: 12px;
	color: rgb(211, 215, 207);
}

.mb-collection-toolbar-input>input:focus{
	outline: none;
	color: rgb(255, 255, 255);
}