<md-input-container 
	class="md-icon-float md-icon-right md-block">
	<label mb-translate>Name</label>
	<input 
		aria-label="Content Name"
		name="name"
		ng-model="ctrl.name"
		ng-model-options="{getterSetter: true, debounce: 200}">
	<mb-icon
		ng-click="ctrl.randomName()">loop</mb-icon>
</md-input-container>
<md-input-container class="md-block">
	<label mb-translate>Title</label>
	<input 
		aria-label="Content Title"
		name="title"
		ng-model="ctrl.title"
		ng-model-options="{getterSetter: true, debounce: 200}">
</md-input-container>
<md-input-container class="md-block">
	<label mb-translate>Description</label>
	<textarea 
		aria-label="Content Description"
		name="description"
		ng-model="ctrl.description"
		ng-model-options="{getterSetter: true, debounce: 200}"></textarea>
</md-input-container>




