
#shop-orders-board {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	
	flex-grow: 1;
	flex-shrink: 1;
	
	padding: 8px;
	overflow-x: auto;
	overflow-y: hidden;
}

#shop-orders-board > .column {
	display: flex;
	flex-direction: column;
	
	flex-basis: 320px;
	flex-grow: 0;
	flex-shrink: 0;
	
	width: 320px;
	min-width: 320px;
	border-radius: 4px;
	padding: 0px;
	margin: 12px 5px;
}

#shop-orders-board > .column > #title {
	padding: 6px 16px;
	font-size: 16px;
	font-weight: 600;
}

#shop-orders-board > .column > #body {
	display: flex;
	flex-direction: column;
	
	background: none;
}


#shop-orders-board .card {
	border-radius: 4px;
	padding: 5px;
	margin: 5px;
	margin-top: 0px;
	cursor: pointer;
}

#shop-orders-board #column-new {
	align-self: flex-start;
	
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}
