<md-content>
	<mb-titled-block 
		mb-title="{{ ::('Account' | translate)}}"
		layout="column">
		<div
			layout="column" 
			layout-gt-sm="row">
			<div>
				<img 
					width="250px"
					height="250px"
					style="margin: 16px;"
					ng-src="/api/v2/user/accounts/{{::ctrl.model.id}}/avatar" 
					ng-src-error="https://www.gravatar.com/avatar/{{::(ctrl.model.id|mbmd5)}}?d=identicon&size=250"/>
			</div>
			<div flex>
				<md-input-container 
					class="md-block">
					<label mb-translate>ID</label>
					<input 
						ng-model="ctrl.model.id"
						disabled>
				</md-input-container>
				<md-input-container 
					class="md-block">
					<label mb-translate>Login</label>
					<input 
						ng-model="ctrl.model.login"
						disabled>
				</md-input-container>
				<md-switch 
					ng-model="ctrl.model.is_active" 
					ng-change="ctrl.setDerty(true)"
					aria-label="Active">
						<span mb-translate>Active</span>
				</md-switch>
				<!-- date_joined
				last_login
				is_active -->
				
				<h3 mb-translate>Roles</h3>
				<md-chips 
					ng-model="ctrl.model.roles"
					ng-change="ctrl.setDerty(true)"
					input-aria-label="Roles"
					container-hint="Press the right and left arrow keys to change role selection."
					container-empty-hint="Enter the text area, start typing, and then press enter when done to add a role."
					md-autocomplete-snap>
					<md-autocomplete
						md-selected-item="ctrl.selectedItemRole"
						md-search-text="ctrl.searchText"
						md-items="item in ctrl.findRole(ctrl.searchText)"
						md-item-text="item.name"
						input-aria-describedby="autocompleteTitle"
						placeholder="Search for a role">
						<span md-highlight-text="ctrl.searchText">{{item.name}} :: {{item.code_name}}</span>
					</md-autocomplete>
					<md-chip-template>
						<strong>{{$chip.name}}</strong>
					</md-chip-template>
				</md-chips>
				
				<h3 mb-translate>Groups</h3>
				<md-chips 
					ng-model="ctrl.model.groups"
					ng-change="ctrl.setDerty(true)"
					input-aria-label="Groups"
					container-hint="Press the right and left arrow keys to change group selection."
					container-empty-hint="Enter the text area, start typing, and then press enter when done to add a group."
					md-autocomplete-snap>
					<md-autocomplete
						md-selected-item="ctrl.selectedItemGroup"
						md-search-text="ctrl.searchTextGroup"
						md-items="item in ctrl.findGroup(ctrl.searchTextGroup)"
						md-item-text="item.name"
						input-aria-describedby="autocompleteTitle"
						placeholder="Search for a group">
						<span md-highlight-text="ctrl.searchTextGroup">{{item.name}}</span>
					</md-autocomplete>
					<md-chip-template>
						<strong>{{$chip.name}}</strong>
					</md-chip-template>
				</md-chips>
			</div>
		</div>
		<!-- Action bar -->
		<div layout="row">
			<span flex></span>
			<md-button 
				class="md-raised md-primary"
				ng-disabled="!ctrl.isDerty()"
				ng-click="ctrl.updateAccount($event)">
				<span mb-translate>Save</span>
			</md-button>
			<md-button 
				class = "md-raised md-accent"
				ng-click="ctrl.deleteModel($event)">
				<span mb-translate>Delete</span>
			</md-button>
		</div>
	</mb-titled-block>
</md-content>

