<md-content>
	<mb-titled-block 
		mb-title="Role"
		mb-preloading="ctrl.roleLoading"
		layout="column">
		<md-input-container 
			class="md-block">
			<label mb-translate>ID</label>
			<input 
				ng-model="ctrl.model.id"
				disabled>
		</md-input-container>
		<md-input-container 
			class="md-block">
			<label mb-translate>Name</label>
			<input 
				ng-model="ctrl.model.name"
				disabled>
		</md-input-container>
		<md-input-container 
			class="md-block">
			<label mb-translate>Code Nname</label>
			<input 
				ng-model="ctrl.model.code_name"
				disabled>
		</md-input-container>
		<md-input-container 
			class="md-block">
			<label mb-translate>Application</label>
			<input 
				ng-model="ctrl.model.application"
				disabled>
		</md-input-container>
		<md-input-container 
			class="md-block">
			<label mb-translate>Description</label>
			<input 
				ng-model="ctrl.model.description"
				disabled>
		</md-input-container>
	</mb-titled-block>
</md-content>

