<md-content
	layout="column"
	style="overflow: auto;">
	<div 
		layout="column" 
		ng-cloak>
		<h3 mb-translate="">Select a bank from the list:</h3>
		<div 
			layout="column">
			<md-select 
				required md-no-asterisk="false"
				placeholder="Bank" 
				ng-model="_bank"
				ng-change="loadBankProperties(_bank)"
				md-on-open="loadBanks()" 
				style="min-width: 200px;">
				<md-option 
					ng-value="bank" 
					ng-repeat="bank in banks.items">
					<span mb-translate="">{{bank.title}}</span>
				</md-option>
			</md-select>
		</div>
	</div>
	<span flex="10"></span>
	<div
		mb-preloading="creatingNewGate"
		ng-init="_userValues = {}"
		layout="column" 
		ng-show="properties">
		<h3 mb-translate="">{{properties.title}}</h3>
		<p mb-translate="">{{properties.description}}</p>
		
		<md-input-container
			ng-repeat="property in properties.children">
			<div ng-if="property.name !== 'symbol'">
				<label>{{property.title}}</label>
				<input ng-model="_userValus[property.name]">
			</div>
			<div ng-if="property.name === 'symbol'">
				<wb-ui-setting-image
					title="Symbol" 
					ng-model="_userValus['symbol']">
				</wb-ui-setting-image>
			</div>
		</md-input-container>

		<div>
			<md-button class="md-raised"
				ng-href="bank/gates">
				<span mb-translate>Cancel</span>
			</md-button>
			<md-button class="md-primary md-raised"
				ng-click="newGate(_bank, _userValus)">
				<span mb-translate>Save</span>
			</md-button>
		</div>
	</div>
</md-content>