<md-input-container class="md-block md-icon-float">
	<label mb-translate>Main Domain</label>
	<input 
		aria-label="Main Domain Name"
		name="domain"
		ng-model="ctrl.domain"
		ng-model-options="{getterSetter: true, debounce: 200}">
</md-input-container>

<md-input-container class="md-block md-icon-float">
	<label mb-translate>Subdomain</label>
	<input 
		aria-label="Subdomain"
		name="subdomain"
		ng-model="ctrl.subdomain"
		ng-model-options="{getterSetter: true, debounce: 200}">
</md-input-container>

