<md-content 
	layout="column">
	<mb-titled-block 
		mb-title="Detail"
		mb-more-actions="ctrl.contentActions"
		mb-progress="ctrl.isBusy()"
		layout="column">
		<table>
			<tr>
				<td mb-translate>ID</td>
				<td>: {{ctrl.item.id}}</td>
			</tr>
			<tr>
				<td mb-translate>Title</td>
				<td>
					<mb-inline
						ng-model="ctrl.item.title"
						mb-inline-type="text"
						mb-inline-label="Title"
						mb-inline-enable="true"
						mb-inline-on-save="ctrl.updateItem()">
							: {{ctrl.item.title}}
						</mb-inline>
				</td>
			</tr>
			<tr>
				<td mb-translate>Description</td>
				<td>
					<mb-inline
						ng-model="ctrl.item.description"
						mb-inline-type="text"
						mb-inline-label="Description"
						mb-inline-enable="true"
						mb-inline-on-save="ctrl.updateItem()">
							: {{ctrl.item.description}}
					</mb-inline>
				</td>
			</tr>
			<tr>
				<td mb-translate>Link</td>
				<td>
					<mb-inline
						ng-model="ctrl.item.loc"
						mb-inline-type="text"
						mb-inline-label="Location"
						mb-inline-enable="true"
						mb-inline-on-save="ctrl.updateItem()">
							: {{ctrl.item.loc}}
					</mb-inline>
				</td>
			</tr>
			<tr>
				<td mb-translate>Priority</td>
				<td>
					<mb-inline
						ng-model="ctrl.item.description"
						mb-inline-type="text"
						mb-inline-label="Description"
						mb-inline-enable="true"
						mb-inline-on-save="ctrl.updateItem()">
							: {{ctrl.item.priority}}
						</mb-inline>
				</td>
			</tr>
			<tr>
				<td mb-translate>Change Frequncy</td>
				<td>
					<mb-inline
						ng-model="ctrl.item.changefreq"
						mb-inline-type="text"
						mb-inline-label="Change Frequncy"
						mb-inline-enable="true"
						mb-inline-on-save="ctrl.updateItem()">
							: {{ctrl.item.changefreq}}
					</mb-inline>
				</td>
			</tr>
			<tr>
				<td mb-translate>Last Modification</td>
				<td>
					<mb-inline
						ng-model="ctrl.item.lastmod"
						mb-inline-type="datetime"
						mb-inline-label="Last Modification"
						mb-inline-enable="true"
						mb-inline-on-save="ctrl.updateItem()">
							: {{ctrl.item.lastmod}}
					</mb-inline>
				</td>
			</tr>
		</table>
		<div layout="row">
			<span flex></span>
			<md-button class="md-raised" ng-href="{{ctrl.item.loc}}">
				<span mb-translate>Open</span>
			</md-button>
			<md-button class="md-raised md-primary" ng-click="ctrl.deleteItem()">
				<span mb-translate>delete</span>
			</md-button>
		</div>
	</mb-titled-block>
</md-content>