<table class="my-table">
    <caption class="md-accent" translate><h2>{{title}}</h2></caption>
    <tr ng-show="!disableId"><td translate>ID</td><td> {{invoice.id}}</td></tr>
    <tr><td translate>Title</td><td> {{invoice.title}}</td></tr>
    <tr><td translate>Amount</td><td> {{invoice.amount}}</td></tr>
    <tr><td translate>Status</td><td> {{invoice.status}}</td></tr>
    <tr><td translate>Due Date</td><td> {{invoice.due_time}}</td></tr>
    <tr><td translate>Creation Datetime</td><td> {{invoice.creation_dtime | mbDate}}</td></tr>
    <!-- 'disableId' in line 3 defined in amdTenantInvoice.js. -->
</table>

