<md-content
	layout-margin
	flex>
	
	<mb-titled-block 
		mb-title="{{'Asset' | translate}}"
		layout="column">
		<section ng-show="!ctrl.edit"
			layout="column">
			<table>
				<tr>
					<td mb-translate>ID</td>
					<td>: {{::ctrl.model.id}}</td>
				</tr>
				<tr>
					<td mb-translate>Title</td>
					<td>: {{ctrl.model.title}}</td>
				</tr>
			</table>
			<!-- Action bar -->
			<div layout="row">
				<span flex></span>
				<md-button 
					class = "md-raised md-primary"
					ng-click="remove()">
					<mb-icon>delete</mb-icon>
					<span mb-translate>Delete</span>
				</md-button>
				<md-button
					class="md-raised"
					ng-click="ctrl.edit=true">
					<mb-icon>edit</mb-icon>
					<span mb-translate>Edit</span>
				</md-button>
			</div>
		</section>
	
		<section ng-show="ctrl.edit"
			layout="column">
			
			<md-button class="md-raised" ng-click="changeFile()">
				{{'change file'  | translate}}
			</md-button>
			
			<md-input-container class="md-block" flex-gt-xs>
				<label>Name</label>
				<input ng-model="asset.name">
			</md-input-container>
			<md-input-container class="md-block" flex-gt-xs>
				<label>Description</label>
				<input ng-model="asset.description">
			</md-input-container>
			<md-input-container ng-if="asset.type === 'file'" class="md-block" flex-gt-xs>
				<label>Price</label>
				<input ng-model="asset.price">
			</md-input-container>
			<md-input-container class="md-block" flex-gt-xs>
				<label>Parent</label>
				<input ng-model="asset.parent">
			</md-input-container>
			<md-input-container class="md-block" flex-gt-xs>
				<label>Content</label>
				<input ng-model="asset.content">
			</md-input-container>
			<md-input-container class="md-block" flex-gt-xs>
				<label>Thumbnail</label>
				<input ng-model="asset.thumbnail">
			</md-input-container>
		
			 <div layout="row">
				<span flex></span>
				<md-button
					class="md-raised" 
					ng-click="save()">
					<mb-icon>save</mb-icon>
					<span mb-translate>Save</span>
				</md-button>
				<md-button 
					class="md-raised" 
					ng-click="ctrl.edit=false">
					<mb-icon>close</mb-icon>
					<span mb-translate>Cancel</span>
				</md-button>
			 </div>
		</section>
	</mb-titled-block>

	<!-- categories -->
	<mb-titled-block
		layout="column" 
		mb-title="{{'Categories'  | translate}}">
		<div class="sdp-chips-list" style="direction:rtl;">
			<div layout="row" layout-align="start center">
				<md-chips flex
					class="custom-chips" 
					ng-model="ctrl.categories" 
					md-removable="true">
					<md-chip-template>
						<span>
							<strong>{{$chip.id}} - {{$chip.name}}</strong>
						</span>
					</md-chip-template>
				  	<button md-chip-remove class="md-primary chipaction" ng-click="removeFromCategory($chip)">
						<mb-icon class="block">close</mb-icon>
				  	</button>
				</md-chips>
				<md-button
					class="md-icon-button md-raised"
					ng-click="addToCategory()">
					<mb-icon>add</mb-icon>
				</md-button>
			</div>
			<div 
				ng-if="!ctrl.categories || ctrl.categories.length == 0"
				layout="column" layout-align="center center">
				<p>This asset is not contained in any category</p>
			</div>
		</div>
	</mb-titled-block>
	
	<!-- tags -->
	<mb-titled-block
		mb-title="{{'Tags'  | translate}}"
		layout="column">
		<div class="sdp-chips-list" style="direction:rtl;">
			<div layout="row" layout-align="start center">
				<md-chips flex
					class="custom-chips"
					ng-model="ctrl.tags" 
					md-removable="true">
					<md-chip-template>
						<span>
							<strong>{{$chip.id}} - {{$chip.name}}</strong>
						</span>
					</md-chip-template>
				  	<button md-chip-remove class="md-primary chipaction" ng-click="removeTag($chip)">
						<mb-icon class="block">close</mb-icon>
				  	</button>
				</md-chips>
				<md-button 
					class="md-icon-button md-raised" 
					ng-click="addTag()">
					<mb-icon>add</mb-icon>
				</md-button>
			</div>
			<div ng-show="!ctrl.tags || ctrl.tags.length == 0"
				layout="column" layout-align="center center">
				<p>This asset has no any tag.</p>
			</div>
		</div>
	</mb-titled-block>
	
</md-content>





