<md-content 
	mb-infinate-scroll="nextChilds()">
	<mb-titled-block 
		mb-progress="ctrl.loadingTag || ctrl.savingTag"
		mb-title="{{'Properties' | translate}}"
		layout="column">
		<md-input-container 
			class="md-block">
			<label mb-translate>ID</label>
			<input 
				ng-model="ctrl.model.id"
				disabled>
		</md-input-container>
		
		<md-input-container 
			class="md-block">
			<label mb-translate>Name</label>
			<input 
				ng-model="ctrl.model.name"
				ng-change="ctrl.setDerty(true)">
		</md-input-container>
		<md-input-container 
			class="md-block">
			<label mb-translate>Description</label>
			<textarea
				ng-model="ctrl.model.description"
				ng-change="ctrl.setDerty(true)"></textarea>
		</md-input-container>
		<md-input-container 
			class="md-block">
			<label mb-translate>Parent ID</label>
			<input 
				ng-model="ctrl.model.parent_id"
				ng-change="ctrl.setDerty(true)">
		</md-input-container>
		
		<md-input-container 
			class="md-block">
			<label mb-translate>Creation Date</label>
			<input
				ng-model="ctrl.model.creation_dtime"
				disabled>
		</md-input-container>
		<md-input-container 
			class="md-block">
			<label mb-translate>Last Modification Date</label>
			<input
				ng-model="ctrl.model.creation_dtime"
				disabled>
		</md-input-container>
		
		<!-- Action bar -->
		<div layout="row">
			<span flex></span>
			<md-button 
				class="md-raised md-primary"
				ng-disabled="!ctrl.isDerty()"
				ng-click="ctrl.updateModel()">
				<span mb-translate>Save</span>
			</md-button>
			<md-button 
				class = "md-raised md-accent"
				ng-click="ctrl.deleteModel($event)">
				<span mb-translate>Delete</span>
			</md-button>
		</div>
	</mb-titled-block>
</md-content>
