<div  
	ng-init="ctrl.setDataQuery('{id, title, name, file_name, media_type, mime_type, state}')"
	mb-preloading="ctrl.loading"
	layout="column">
	<!-- TODO: maso, 1395: در حالت خطا یک صفحه با امکان reload اضافه بشه. -->
	<mb-pagination-bar
		mb-model="ctrl.queryParameter"
		mb-reload="ctrl.reload()"
		mb-sort-keys="ctrl.getSortKeys()"
		mb-more-actions="ctrl.getActions()"
		mb-properties="ctrl.properties">
	</mb-pagination-bar>
	<md-content
		mb-infinate-scroll="ctrl.loadNextPage()"
		layout="column"
		style="max-width: 100%;"
		flex>
		<md-list flex>
			<md-list-item 
				ng-repeat="content in ctrl.items track by content.id"
				ng-click="ctrl.openEditor(content)"
				class="md-3-line">
				<amd-content-icon 
					ng-model="content">
				</amd-content-icon>
				<div 
					class="md-list-item-text" 
					layout="column">
					<h3>{{content.title}}</h3>
					<h4>{{::content.name}}</h4>
					<p>{{::content.id}}-{{::content.media_type}}-{{::content.state}}</p>
				</div>
			</md-list-item>
		</md-list>
		<div
			layout="column"
			layout-align="center center"
			ng-if="ctrl.state === 'ideal' && (!ctrl.items || ctrl.items.length == 0)">
			<h2 mb-translate="">No content found</h2>
		</div>
	</md-content>
</div>
