<md-content 
	class="md-padding"
	layout-padding
	flex>
	
	<div layout-gt-lg="row" layout="column">
		<!-- آواتار -->
		<section 
			flex-order="-1"
			flex-gt-lg="50" 
			layout="column" 
			md-whiteframe="1"
			layout-margin 
			mb-preloading="ctrl.updatingAvatar || ctrl.loadUser">
			<h3 translate>Avatar</h3>
		    <img style="border-radius: 50%"
		    	width="200px" height="200px" ng-show="!uploadAvatar"
		    	ng-src="/api/v2/user/accounts/{{ctrl.user.id}}/avatar" />
            <lf-ng-md-file-input 
            	ng-show="uploadAvatar"
                lf-files="avatarFiles"
                accept="image/*"
                progress
                preview
                drag>
            </lf-ng-md-file-input>
		    <div layout="column" layout-align="center none"
       			layout-gt-xs="row" layout-align-gt-xs="end center">
		    	<md-button 
		    		ng-show="!uploadAvatar"
					class="md-raised md-primary"
					ng-click="uploadAvatar=true">
		    		<sapn translate>edit</sapn>
		    	</md-button>
		    	<md-button 
		    		ng-show="uploadAvatar"
					class="md-raised md-primary"
					ng-click="updateAvatar(avatarFiles)">
<!-- 		    		<wb-icon>save</wb-icon> -->
		    		<sapn translate>save</sapn>
		    	</md-button>
		    	<md-button 
		    		ng-show="uploadAvatar"
		    		class="md-raised"
		    		ng-click="uploadAvatar=false">
<!-- 					<wb-icon>cancel</wb-icon> -->
					<sapn translate>cancel</sapn>
		    	</md-button>
		    </div>
		</section>
		<!-- Profile -->
		<section 
			flex-gt-lg="50" 
			layout="column" 
			md-whiteframe="1"
			layout-margin
			mb-preloading="ctrl.loadProfile || ctrl.saveProfile || ctrl.loadUser">
			<h3 translate>Profile</h3>
			<form
				name="contactForm"
				layout="column" 
				layout-padding>
				<md-input-container layout-fill>
			        <label translate>First name</label>
			        <input ng-model="ctrl.profile.first_name">
			    </md-input-container>
				<md-input-container layout-fill>
			        <label translate>Last name</label>
			        <input ng-model="ctrl.profile.last_name">
			    </md-input-container>
				<md-input-container layout-fill>
			        <label translate>Public email</label>
			        <input name="email" ng-model="ctrl.profile.email" type="email">
			        <div ng-messages="contactForm.email.$error">
		              	<div ng-message="email">Email is not valid.</div>
		            </div>
			    </md-input-container>
			    <md-input-container layout-fill>
			        <label translate>Language</label>
			        <input ng-model="ctrl.profile.language">
			    </md-input-container>
			    <md-input-container layout-fill>
			        <label translate>Timezone</label>
			        <input ng-model="ctrl.profile.timezone">
			    </md-input-container>
			</form>
			<div layout="column" layout-align="center none"
     			layout-gt-xs="row" layout-align-gt-xs="end center">
		    	<md-button 
		    		 class="md-raised md-primary"
		    		 ng-click="save(ctrl.profile)">
		    		<sapn translate>update</sapn>
		    	</md-button>
		    </div>
		</section>

</md-content>
