<div
	layout="column"
	flex>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<span flex></span>
			<md-button 
				class="md-icon-button" 
				aria-label="Add"
				ng-click="addKey()">
				<wb-icon>add</wb-icon>
			</md-button>
			<md-button 
				class="md-icon-button" 
				aria-label="Reload"
				ng-click="reload()">
				<wb-icon>repeat</wb-icon>
			</md-button>
			<md-button 
				class="md-icon-button" 
				aria-label="Save"
				ng-click="saveDocument()">
				<wb-icon>save</wb-icon>
			</md-button>
			<md-button 
				class="md-icon-button" 
				aria-label="Delete"
				ng-click="deleteDocument()">
				<wb-icon>delete</wb-icon>
			</md-button>
		</div>
	</md-toolbar>

	<div 
		ng-repeat="key in keys"
		layout="row">
		<md-input-container
			flex>
			<label translate>{{key}}</label>
			<input ng-model="document[key]">
		</md-input-container>
		<md-button
			ng-click="removeKey(key)">
			<wb-icon>delete</wb-icon>
		</md-button>
	</div>
</div>