<md-content
	class="md-padding"
	layout-padding>
	<mb-titled-block 
		ng-show="!ctrl.edit"
		mb-progress="ctrl.loading"
		mb-title="{{'Zone'| translate}}"
		mb-icon="shop-zone"
		layout="column">
		<table>
			<tr>
				<td translate="">ID </td>
				<td>: {{ctrl.item.id}}</td>
			</tr>
			<tr>
				<td translate="">Title</td>
				<td><mb-inline
						ng-model="ctrl.item.title"
						mb-inline-enable="{{true}}"
						mb-inline-type="text"
						mb-inline-on-save="ctrl.updateItem()">: {{ctrl.item.title}}</mb-inline></td>
			</tr>
			<tr>
				<td translate="">Description</td>
				<td><mb-inline
						ng-model="ctrl.item.description"
						mb-inline-enable="{{true}}"
						mb-inline-type="text"
						mb-inline-on-save="ctrl.updateItem()">: {{ctrl.item.description}}</mb-inline></td>
			</tr>
			<tr>
				<td translate="">Province</td>
				<td><mb-inline
						ng-model="ctrl.item.province"
						mb-inline-enable="{{true}}"
						mb-inline-type="text"
						mb-inline-on-save="ctrl.updateItem()">: {{ctrl.item.province}}</mb-inline></td>
			</tr>
			<tr>
				<td translate="">City</td>
				<td><mb-inline
						ng-model="ctrl.item.city"
						mb-inline-enable="{{true}}"
						mb-inline-type="text"
						mb-inline-on-save="ctrl.updateItem()">: {{ctrl.item.city}}</mb-inline></td>
			</tr>
			<tr>
				<td translate="">Address</td>
				<td><mb-inline
						ng-model="ctrl.item.address"
						mb-inline-enable="{{true}}"
						mb-inline-type="text"
						mb-inline-on-save="ctrl.updateItem()">: {{ctrl.item.address}}</mb-inline></td>
			</tr>
			<tr>
				<td translate="">Polygon</td>
				<td><mb-inline
						ng-model="ctrl.item.polygon"
						mb-inline-enable="{{true}}"
						mb-inline-type="text"
						mb-inline-on-save="ctrl.updateItem()">: {{ctrl.item.polygon}}</mb-inline></td>
			</tr>
<!--			<tr>
				<td translate="">deleted</td>
				<td><mb-inline
						ng-model="ctrl.item.deleted"
						mb-inline-enable="{{true}}"
						mb-inline-type="text"
						mb-inline-on-save="ctrl.updateItem()">: {{ctrl.item.deleted}}</mb-inline></td>
			</tr>-->
			<tr>
				<td translate="">Creation Date </td>
				<td>: {{ctrl.item.creation_dtime| mbDateTime}}</td>
			</tr>
			<tr>
				<td translate="">Last Modified Date </td>
				<td>: {{ctrl.item.modif_dtime| mbDateTime}}</td>
			</tr>
		</table>

		<!-- Action bar -->
		<div ng-show="!ctrl.edit" layout-gt-xs="row"
			 layout="column">
			<span flex></span>
			<md-button 
				class = "md-raised md-accent"
				ng-click="ctrl.deleteItem()">
				<span translate="">Delete</span>
			</md-button>
		</div>
	</mb-titled-block>
</md-content>
