<div
	id="shop-orders-board"
	ng-controller="MbSeenShopOrdersBoardCtrl as ctrl"
	mb-preloading="ctrl.loading">
	<div id="toolbar"></div>
	<md-content 
		id="body"
		md-colors="{background: 'primary-300'}">
		<div 
			ng-repeat="column in ctrl.board.columns track by column.id"
			id="column-{{column.id}}"
			md-colors="{background: 'primary-100'}"
			class="column md-whiteframe-4dp">
			<div
				id="title"
				layout="row"
				layout-align="none center">
				<span translate>{{column.title}}</span>
				<span flex></span>
				<span>{{column.items.length}} {{'Order' | translate}}</span>
				<md-button
					class="md-icon-button md-mini" 
					ng-click="openNewActivityDialog(list,$event)">
					<wb-icon>add</wb-icon>
				</md-button>
			</div>
			<md-content
				id="body"
				mb-preloading="column.loading">
				<div 
					ng-repeat="item in column.items track by item.id"
					id="card-{{item.id}}"
					class="card"
					md-colors="{background: 'background'}"
					layout="column"
					ng-click="ctrl.showItemDetail(item)">
					<h4>{{::item.id}} - {{::item.full_name}}</h4>
					<span>{{::item.phone}}</span>
					<small style="direction: ltr;">{{::(item.creation_dtime | mbDateTime)}}</small>
					<small>{{::item.province}} - {{::item.city}} - {{::item.address}}</small>
				</div>
			<md-content>
		</div>
	</md-content>
	<div id="footer"></div>
</div>