<md-content
	ng-controller="AmdCmsTermTaxonomyCtrl as ctrl"
	layout-padding
	flex>
	<mb-titled-block 
		mb-progress="ctrl.isBusy()"
		mb-title="{{'Taxonomy'| translate}}"
		layout="column">
		<div 
			layout="row" 
			layout-xs="column" 
			layout-align-xs="center center" 
			layout-padding>
			<table>
				<tr>
					<td translate="">ID</td>
					<td>: {{ctrl.item.id}}</td>
				</tr>
				<tr>
					<td translate="">Taxonomy</td>
					<td>
						<mb-inline
							ng-model="ctrl.item.taxonomy"
							mb-inline-type="text"
							mb-inline-label="Taxonomy"
							mb-inline-enable="true"
							mb-inline-on-save="ctrl.updateItem()">
								: {{ctrl.item.taxonomy}}
						</mb-inline>
					</td>
				</tr>
				<tr>
					<td translate="">Description</td>
					<td>
						<mb-inline
							ng-model="ctrl.item.description"
							mb-inline-type="text"
							mb-inline-label="Description"
							mb-inline-enable="true"
							mb-inline-on-save="ctrl.updateItem()">
								: {{ctrl.item.description}}
						</mb-inline>
					</td>
				</tr>
				<tr>
					<td translate="">Parent id</td>
					<td>
						<mb-inline
							ng-model="ctrl.item.parent_id"
							mb-inline-type="text"
							mb-inline-label="Parent ID"
							mb-inline-enable="true"
							mb-inline-on-save="ctrl.updateItem()">
								: {{ctrl.item.parent_id}}
						</mb-inline>
					</td>
				</tr>
				<tr>
					<td translate="">Term id</td>
					<td>
						<mb-inline
							ng-model="ctrl.item.term_id"
							mb-inline-type="text"
							mb-inline-label="Term ID"
							mb-inline-enable="true"
							mb-inline-on-save="ctrl.updateItem()">
								: {{ctrl.item.term_id}}
						</mb-inline>
					</td>
				</tr>
			</table>
		</div>
		<div 
			layout-gt-xs="row"
			 layout="column">
			<span flex></span>
			<md-button 
				class = "md-raised md-accent"
				ng-click="ctrl.deleteItem()">
				<span translate="">Delete</span>
			</md-button>
		</div>
	</mb-titled-block>
</md-content>
