<div  
	mb-preloading="ctrl.loading"
	layout="column"
	flex>
<!-- TODO: add	ng-init="ctrl.setDataQuery('{id, title, name, description, mime_type, media_type}')" -->
	<mb-pagination-bar
		mb-model="ctrl.queryParameter"
		mb-reload="ctrl.reload()"
		mb-sort-keys="ctrl.getSortKeys()"
		mb-more-actions="ctrl.getActions()">
	</mb-pagination-bar>
	<md-content
		mb-infinate-scroll="ctrl.loadNextPage()"
		layout="column"
		flex>
	    <md-list 
	        ng-if="ctrl.items.length"
	        flex>
	        <md-list-item 
	            ng-repeat="spa in ctrl.items"
	            class="md-3-line" 
	            ng-href="spas/repository/{{spa.id}}">
	            <img 
	                ng-src="/{{spa.name}}/images/logo.svg" 
	                class="md-avatar"/>
	            <div 
	                class="md-list-item-text" 
	                layout="column">
	                <h3>{{spa.title}}</h3>
	                <h4>{{spa.name}} - {{spa.version}}</h4>
	                <p>{{spa.description}}</p>
	            </div>
	        </md-list-item>
	    </md-list>
	</md-content>
</div>

