<!--<md-content 
    class="md-padding"
    layout-padding
    flex>
    <mb-titled-block 
        mb-progress="ctrl.loading"
        layout="column">

        <div layout="row" 
             layout-xs="column" 
             layout-align-xs="center center" 
             layout-padding>
            
            <img width="256px" height="256px" 
                 ng-src="{{bank.url|| ('images/bank/' + bank.symbol + '.svg')}}" />
            

            <table>
                <tr>
                    <td translate="">Title </td>
                    <td>: {{bank.title}}</td>
                </tr>
                <tr>
                    <td translate="">Type </td>
                    <td>: {{bank.type}}</td>
                </tr>
                <tr>
                    <td translate="">Description </td>
                    <td>: {{bank.description}}</td>
                </tr>
                <tr>
                    <td translate="">Symbol </td>
                    <td>: {{bank.symbol}}</td>
                </tr>
            </table>
        </div>
    </mb-titled-block>
</md-content>-->