<md-input-container class="md-block md-icon-float">
	<label mb-translate>Language</label>
	<input 
		aria-label="Language"
		name="language"
		ng-model="ctrl.language"
		ng-model-options="{getterSetter: true, debounce: 200}">
</md-input-container>

<md-input-container class="md-block">
	<label mb-translate>Title</label>
	<input 
		aria-label="Title"
		name="title"
		ng-model="ctrl.title"
		ng-model-options="{getterSetter: true, debounce: 200}">
</md-input-container>

<md-input-container class="md-block">
	<label mb-translate>Favicon</label>
	<input 
		aria-label="Favicon"
		name="favicon"
		ng-model="ctrl.favicon"
		ng-model-options="{getterSetter: true, debounce: 200}">
</md-input-container>

<md-input-container class="md-block">
	<label mb-translate>Cover</label>
	<input 
		aria-label="Cover"
		name="cover"
		ng-model="ctrl.cover"
		ng-model-options="{getterSetter: true, debounce: 200}">
</md-input-container>

<md-input-container class="md-block">
	<label mb-translate>Description</label>
	<textarea 
		aria-label="Description"
		name="description"
		ng-model="ctrl.description"
		ng-model-options="{getterSetter: true, debounce: 200}"></textarea>
</md-input-container>




